apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix
  namespace: netflix
spec:
  replicas: 2
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
        - name: netflix
          image: omkarkadam0070/netflix:1.0
          ports:
            - containerPort: 80

